.calculating {
  align-items: flex-start;
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 42px;
  left: 888px;
  min-width: 187px;
  padding: 6px 39px;
  position: absolute;
  top: 1211px;
  transition: all 0.2s ease;
}

.calculating:hover {
  transform: scale(1.1);
}

.calculate {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 29px;
  letter-spacing: 0;
  min-width: 106px;
  text-align: center;
}

